/*wszystkie strony*/
body{
    color: rgb(33, 36, 53);
    background-color: hsl(85,67%,96%);
    padding: 1rem 2rem;
    font-family: arial;
    margin: auto 45px;
}
/* ewidencja - panel uzytkownika*/

.user_name{
    float: left;
}

.button-logout{
    float: right;
}

hr{
    clear: both;
    
}

/*strona główna - ewidencja*/
.ewidencja-title{
    background-color: hsl(194,60%,57%);
    padding: 5px 20px;
    border-radius: 10px;
    margin: 0 0 20px;
    }
.title{
    text-align:center;
}

.button-umowy {
    background-color: hsl(212,88%,27%);
    color: hsl(109,49%,85%);
    width: auto;
    margin: 15px 20px;
    padding: 10px;
    border-radius: 10px;
    border-style: none;
}

.button-umowy:hover{
    background-color: hsl(205,91%,35%);
    color: hsl(107,50%,91%);
    transform: scale(1.1);
}

.lista{
    display: flex;
    border-radius: 20px;
    border-style: none;
    background-color: hsl(135,44%,76%);
    margin: 10px;
    padding: auto auto;
    width: 50%; 
}
.lista:hover{
    background-color: hsl(174,44%,64%);
}

.lista_umow{
    list-style-type:none;
    flex:1;   
}
.znacznik::before{
    content: "\1F4DD";
}

.info{
    margin-left: 30px;
}

.button{
    display: inline-block;
    text-align: right;
}

/* widok podglądu umów - podglad.html*/
.podglad_box{
    width: 40%;
}

section{
display:flex;
}
.naglowek_podglad{
    text-align:center;
}


/*widok pdf */
.pdf_viev{
    margin: 0 5%;
}
embed{
    width: 900px;
    height: 800px;
    margin: 10px
}

.cofni_podgląd{
    clear: left;

}
