/*wszystkie strony*/
body{
    color: #2F4F4F;
    /*rgb(33, 36, 53);*/
    background-color: hsl(85,67%,96%);
    padding: 0;
    font-family: arial;
    margin: 10px 45px;
    padding:5px 30px;
}

a{
    text-decoration: none;
}

footer {
    position: fixed;
    width: 90%;
    margin-top:20px;
    height: 20px;
    background-color: rgba(39, 78, 163, 0.836);
    color: aliceblue;
    bottom: 1px;
    left: 5%;
    right: 5%;

    border-radius: 80px 80px 15px 15px;
}

.stopka {
    text-align: center;
    font-size: 15px;
    margin: 0px 0px;
    padding:0 0;
}

.element_login{
    padding: 0;
}
/* ewidencja - panel uzytkownika*/

.user_name{
    float: left;
    font-size: 12pt;
    margin-top: auto;
    margin-bottom:10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button-logout{
    float: right;
    display:inline-block;
    background-color: hsl(212,88%,27%);
    color: hsl(109,49%,85%);
    width: auto;
    margin-top: auto;
    margin-bottom:10px;
    height:30px;
    padding: 0px 20px;
    border-radius: 10px;
    border-style: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.button-logout:hover{
    background-color: hsl(205,91%,35%);
    color: hsl(107,50%,91%);
    transform: scale(1.1)
}


.hr{
    clear: both;
    border: 1px solid hsl(212,88%,27%);
    background: hsl(212,88%,27%);
    margin-bottom: 1%;
}


/*strona główna - ewidencja*/
.ewidencja-title{
    background-color: hsl(194,60%,57%);
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.ewidencja-glowna{
    margin-bottom: 30px;
    width:100%;
}

.title{
    text-align:center;
    margin: 2px;

}

.info-umowy{
    display:inline-block;
    margin: 5px;
}

.button-general {
    display:inline-block;
    background-color: hsl(212,88%,27%);
    color: hsl(109,49%,85%);
    width: auto;
    margin: 10px 5px;
    padding:8px 10px;
    border-radius: 10px;
    border-style: none;
    webkit-transition: all 1s ease;
    transition: all 0.3s ease;
    margin-right:15px;
}

.button-general:hover{
    background-color: hsl(205,91%,35%);
    color: hsl(107,50%,91%);
    transform: scale(1.1)
}

.button-menu{
    margin: 10px 10px;
    }

.active{
    background-color: hsl(205,91%,35%);

}

.button-remove{
    margin-right:20px;
}

.button-remove:hover{
    background: rgb(204, 123, 173);
}

/*wyszukiwarka*/

.search{
    display:inline-block;
    float:right;
    width: auto;
    padding: 0 0;
    margin-top: 15 ;
}

.search input{
    width:150px;
    border: solid 2px white;
    height:25px;
    border-radius: 10px 0px 0px 10px;
    margin: 10px 0;
}

.search input:focus{
    border: solid 2px hsl(205,91%,35%);
    outline: none;
}
input, textarea, select{
    display:inline-block;
    width: 200px;
    border: solid 2px grey;
    height: 25px;
    border-radius: 10px;
    font-family: arial;

}
input:focus{
    border: solid 2px hsl(205,91%,35%);
    outline: none;}

textarea:focus{
    border: solid 2px hsl(205,91%,35%);
    outline: none;}

select:focus{
    border: solid 2px hsl(205,91%,35%);
    outline: none;}


.button-search{
    display:inline-block;
    float: right;
    width:80px;
    border-radius: 0px 10px 10px 0px;
    margin-left: 0px;

}

.lista{
    display: flex;
    border-radius: 10px;
    border-style: none;
    background-color: hsl(135,44%,76%);
    margin: 5px;
    padding: auto auto;
    width: 70%;
}


.lista:hover{
    background-color: hsl(174,44%,64%);
}
.lista_umow{
    list-style-type:none;
    flex:1;
    margin: auto auto auto;
}

.znacznik{
    margin-top: 5px;
    margin-bottom: 2px;
}

.znacznik::before{
    content: "\1F4DD";
    margin-right: 15px;
}

.info{
    margin-left: 37px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.button{
    display: inline-block;
    text-align: right;
}

/* archiwum*/
.archiwum{
    background-color: rgb(221, 167, 173);
}

.archiwum:hover{
    background-color: rgb(204, 123, 173);
}

/* widok podglądu umów - podglad.html*/
.podglad_box{
    width: 45%;
}

.aktywne::before{
    content:"\2705";
}

section{
display:flex;
}
.naglowek_podglad{
    text-align:center;
    margin:5px;
}

.podglad_umow{
    margin:15px 0px;
    padding:2%;
}
.podglad_umow fieldset ul li{
    padding: 3px;
    margin: 3px;
}

.podglad_umow label{
    margin: 10px 20px;
}

.aneks{
    padding: 5px;
    width: 50%;
}
.aneks-div-span{
    padding: 8px;
    width:auto;
}

.button-podglad{
    float: right;
    display:inline-block;
    background-color: hsl(212,88%,27%);
    color: hsl(109,49%,85%);
    width: auto;
    padding:8px 8px;
    border-radius: 10px;
    border-style: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.button-podglad:hover{
    background-color: hsl(205,91%,35%);
    color: hsl(107,50%,91%);
    transform: scale(1.1)
}
.aneks-div-button{
    margin-left: 10%;
}


.button back{
    margin: 1px 8px auto auto;
    padding:2px;
}

fieldset{
    border: solid 3px hsl(205,91%,35%);
    border-radius: 10px;
}

.media-podgląd {
    margin:20px;
}
/*formularz*/
.naglowki_form{
    text-align:center;
}

.adres_jednostki label{
     margin: auto;

}

/*widok pdf */
.pdf_viev{
    margin: auto ;
    background-color: hsl(135,44%,76%);
    border-radius: 10px;
    border: 3px

}
embed{
    width: 700px;
    height: 900px;
    margin: 6px
}

.cofni_podgląd{
    clear: left;
}

/*Fomularz*/
.formularz {
    display:inline-block;
    width:33%;
}

.formularz label{
    width: auto;
    padding-top: 10px;
}

.formularz select{
    width: 210px;
    height: 30px;

}


.formularz_media{
    display:inline-block;
    margin: 0 10px;
}

.formularz_media input{
    width: auto;
    height: auto;
}



.formularz label{
    margin: 5px;
    display: block;
    margin: 10px 0px 5x;
}

.media-form{
    margin-top: 5px;
    width: 350px;
    height: 120px;
    resize: none;
    padding:8px;
}

.uwagi{
 width: 100%;
 height: 90px;
 resize: none;
 padding: 10px;
}

input[type="file"] {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}