/*wszystkie strony*/
body{
    color: rgb(33, 36, 53);
    background-color: hsl(85,67%,96%);
    padding: 1rem 1%;
    font-family: arial;
    margin: auto 45px;
}
/* ewidencja - panel uzytkownika*/

.user_name{
    float: left;
}

.button-logout{
    float: right;
}

hr{
    clear: both;
}

/*strona główna - ewidencja*/
.ewidencja-title{
    background-color: hsl(194,60%,57%);
    padding: 1% 20px;
    border-radius: 10px;
    margin: 0 0 20px;
    }
.title{
    text-align:center;
    margin: 2px;
}

.info-umowy{
    margin: 5px;
}
nav{
    width: auto;
}

.button-general {
    display:inline-block;
    background-color: hsl(212,88%,27%);
    color: hsl(109,49%,85%);
    width: auto;
    margin: 20px 8px auto auto;
    padding:10px;
    border-radius: 10px;
    border-style: none;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.button-general:hover{
    background-color: hsl(205,91%,35%);
    color: hsl(107,50%,91%);
    transform: scale(1.1)
}

.button-menu{
    margin: 5px 1% 2px ;
}

.active{
    background-color: hsl(205,91%,35%);

}

.button-remove{
    margin-right:15px;
}

.button-remove:hover{
    background: rgb(204, 123, 173);
}

/*wyszukiwarka*/

.search{
    display:inline-block;
    width: 400px;
    text-align:right;
    margin: auto auto auto 35%;
}

.search input{
    width:250px;
    border: solid 3px white;
    height:25px;
    border-radius: 10px;
}

.search input:focus{
    border: solid 3px hsl(205,91%,35%);
    outline: none;
}

.button-search{
    width:120px;
    margin-left:10px;
}

.lista{
    display: flex;
    border-radius: 20px;
    border-style: none;
    background-color: hsl(135,44%,76%);
    margin: 5px;
    padding: auto auto;
    width: 70%;
}
.lista:hover{
    background-color: hsl(174,44%,64%);
}
.lista_umow{
    list-style-type:none;
    flex:1;
    margin: auto auto 10px;
}

.znacznik{
    margin-bottom: auto;
}

.znacznik::before{
    content: "\1F4DD";
    margin-right: 15px;
}

.info{
    margin-left: 37px;
    margin-top: auto;
    margin-bottom: 8px;
}

.button{
    display: inline-block;
    text-align: right;
}

/* archiwum*/
.archiwum{
    background-color: rgb(221, 167, 173);
}

.archiwum:hover{
    background-color: rgb(204, 123, 173);
}

/* widok podglądu umów - podglad.html*/
.podglad_box{
    width: 45%;
}

.aktywne::before{
    content:"\2705";
}

section{
display:flex;
}
.naglowek_podglad{
    text-align:center;
}

.podglad_umow{
    margin:15px 0px;
    padding:2%;
}
.podglad_umow fieldset ul li{
    padding: 3px;
    margin: 3px;
}

.podglad_umow label{
    margin: 10px 20px;
}

.button back{
    margin: 1px 8px auto auto;
    padding:2px;
}

fieldset{
    border: solid 3px hsl(205,91%,35%);
    border-radius: 10px;
}

.media-podgląd {
    margin:20px;
}

/*widok pdf */
.pdf_viev{
    margin: auto ;
    background-color: hsl(135,44%,76%);
    border-radius: 10px;
    border: 3px

}
embed{
    width: 700px;
    height: 900px;
    margin: 6px
}

.cofni_podgląd{
    clear: left;
}

/*Fomularz*/
.formularz {
    display:inline-block;

    }

.formularz_media{
    display:inline-block;
    margin: 0 1%;
}


.formularz label{
    margin: 10px;
    display: block;
}

.media-form{
    margin-top: 5px;
    width: 100%;
    height: 120px;
    resize: none;
}

.uwagi{
 width: 100%;
 height: 90px;
 resize: none;
}
