{%extends 'start.html'%}
{%load static%}
{%load bootstrap%}
{%block tytul%} WIiR - Logowanie do ewidencji umów użyczenia {%endblock%}


{%block css%}{% static 'login.css' %}{%endblock%}

{%block strona%}
    <div class="naglowki_login">
        <h2> Wydział Inwestycji i Remontów KWP w Poznaniu</h2>
        <h2>Baza Rejestrów Infomatycznych</h2>
        <h3>B.R.I</h3>
    </div>
        <div class=login>
            <h4>Zaloguj się</h4>
            <hr class="hr_login">
            <form method="post">
                {%csrf_token%}
                {{form|bootstrap}}
                
                <button type="submit"  class="button-login">Zaloguj </button>
            </form>
        </div>

{%endblock%}