<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wydział Inwestycji i Remontów KWP w Poznaniu - umowy czynszowe</title>
</head>
<body>
    <h2>Ewidencja umów Zespołu Nieruchomości</h2>
    <h3>Ilość umów w bazie: {{wszystko|length}}</h3>
    <a href="{% url 'nowe_umowy'%}">Dodaj nową umowę</a>

    {%for umowa in wszystko%}
    <h2>{{umowa.miasto}}</h2>
    <p>{{umowa}}</p>
    <a href="{% url 'edytuj_umowe' umowa.id %}">Edytuj</a>
    <a href="{% url 'usun_umowe' umowa.id %}">Usuń</a>
    {%endfor%}

</body>
</html>