{%extends 'start.html'%}

{%block tytul%} Umowa {{umowa.id}} {%endblock%}

{%block strona%}
<section>
<div class="podglad_box">
    <h2 class="naglowek_podglad">Podgląd umowy {{podglad.nr_umowy}} z dnia {{podglad.data_umowy}}</h2>

    <form>
        <fieldset>
            <legend>Dotyczy:</legend>
            <span>{{podglad.rodzaj_jedn}} {{podglad.adres_jedn}}, {{podglad.kod_pocztowy_jedn}} {{podglad.miasto_jedn}} ({{podglad.powiaty_jedn}})</span>
        </fieldset>
    </form>

    <form>
        <fieldset>
            <legend> Informacje z umowy</legend>
            <ul>
                <li> Data umowy: {{podglad.data_umowy}}</li>
                <li> Użyczający: {{podglad.nazwa_uzyczajacego }}</li>
                <li> Adres: {{podglad.adres_uzyczajacego}},
                    {{podglad.kod_pocztowy_uzyczajacego}} {{podglad.miasto_uzyczajacego}}
                </li>
                <li> Data zakończenia: {{podglad.okres_obowiazywania}}</li>
                <li> Typ umowy: {{podglad.typ_umowy}}</li>
                <li> Powierzchnia:{{podglad.pow_uzyczona}}</li>
                <li> Prąd:{{podglad.rodzaj_kosztow_prad}}</li>
                <li> Info o kosztach: {{podglad.informacje}}</li>
                <li> Stan umowy: {{podglad.stan_umowy}}</li>

            </ul>
        </fieldset>
    </form>
</div>

<div class="pdf_viev">
    {%if podglad.skan_umowy %}
    <embed src="/doc/{{podglad.skan_umowy}}#toolbar=0" type="application/pdf"/>
    {%else%}
    
        <h4>Miejsce na skan umowy</h4>
    
    {%endif%}
</div>

</section>

<div class="cofni_podgląd">
<a  href="{% url 'wszystkie_umowy'%}">
    <button class="button-general">Cofnij</button>
</div>

    {%endblock%}