{%extends 'start.html'%}

{%block tytul%} Umowa {{podglad.nr_umowy}} {%endblock%}

{%block strona%}
<section xmlns="http://www.w3.org/1999/html">
    <div class="podglad_box">
        <h2 class="naglowek_podglad">Podgląd umowy {{podglad.nr_umowy}}<br>z dnia {{podglad.data_umowy}}</h2>

        <form class="podglad_umow">
            <fieldset>
                <legend><b>Dotyczy</b></legend>
                <span>{{podglad.rodzaj_jedn}} {{podglad.adres_jedn}}, {{podglad.kod_pocztowy_jedn}} {{podglad.miasto_jedn}} ({{podglad.powiaty_jedn}})</span>
            </fieldset>
        </form>

        <form class="podglad_umow">
            <fieldset>
                <legend><b>Informacje</b></legend>
                <ul>
                    <li><label>Data umowy: {{podglad.data_umowy}}</label></li>
                    <li><label>Użyczający: {{podglad.nazwa_uzyczajacego }}</label></li>
                    <li><label> Adres: {{podglad.adres_uzyczajacego}},
                        {{podglad.kod_pocztowy_uzyczajacego}} {{podglad.miasto_uzyczajacego}}</label>
                    </li>
                    <li><label>Data zakończenia: {{podglad.okres_obowiazywania}}</label></li>
                    <li><label>Typ umowy: {{podglad.typ_umowy}}</label></li>
                    <li><label>Powierzchnia w m<sup>2</sup>: {{podglad.pow_uzyczona}}</label></li>

                    {%if podglad.rodzaj_kosztow_prad == True%}

                    <form>
                    <fieldset class="media-podgląd">
                        <legend class="aktywne"> Prąd - informacje o kosztach: </legend>
                    <p>{{podglad.informacje_prad}}</p>
                    </fieldset>
                    </form>
                    {%endif%}

                    {%if podglad.rodzaj_kosztow_gaz == True%}
                      <form>
                    <fieldset class="media-podgląd">
                        <legend class="aktywne"> Gaz - informacje o kosztach: </legend>
                    <p>{{podglad.informacje_gaz}}</p>
                    
                    </fieldset>
                    </form>
                    {%endif%}

                    {%if podglad.rodzaj_kosztow_woda == True%}
                     <form>
                    <fieldset class="media-podgląd">
                        <legend class="aktywne"> Woda - informacje o kosztach: </legend>
                    <p>{{podglad.informacje_woda}}</p>
                    </fieldset>
                    </form>
                    {%endif%}

                    {%if podglad.rodzaj_kosztow_co == True%}
                    <form>
                    <fieldset class="media-podgląd">
                        <legend class="aktywne"> Centralne ogrzewanie - informacje o kosztach: </legend>
                    <p>{{informacje_co}}</p>
                    </fieldset>
                    </form>
                    {%endif%}
                    <li> <label>Stan umowy: {{podglad.stan_umowy}}</label></li>
                    <li> <label>Uwagi: {{podglad.uwagi}}</label></li>


                </ul>
            </fieldset>
        </form>
        <div class="cofni_podgląd">
            <a href="{% url 'wszystkie_umowy'%}">
                <button class="button-general button-back">Cofnij</button>
            </a>
        </div>
    </div>

    <div class="pdf_viev">
        {%if podglad.skan_umowy %}
        <embed src="/doc/{{podglad.skan_umowy}}#toolbar=0" type="application/pdf"/>
        {%else%}

        <h4>Miejsce na skan umowy</h4>

        {%endif%}
        {{aneks_form}}
    </div>

</section>
{%endblock%}