{%load static%}
<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{%static 'logo.ico'%}" type="x-icon">
    
    <title>{%block tytul%} {%endblock%}</title>
    <link rel="stylesheet" href= "{%block css%}{% static 'style.css' %}{%endblock%}">
    

</head>
<body>
{% if user.is_authenticated%}
<nav class="element_login">
    <h3 class="user_name">Zalogowany użytkownik: {{user.first_name}} (ID: {{user.username}})</h3>
    <a href="{%url 'logout'%}"><button class="button-logout">Wyloguj</button></a>
</nav>
{%else%}
<a href="{%url 'login'%}">Login</a>
{%endif%}
<hr class="hr">
            {%block strona%} {%endblock%}
</body>
</html>