{%extends 'start.html'%}
{%load bootstrap%}
{%block tytul%} Dodawanie nowej umowy {%endblock%}

{%block strona%}
<div>
    <div>
        <h4> Dodawanie nowej umowy</h4>
        <form method="post" enctype="multipart/form-data" class="blue-agreement-form">
            {%csrf_token%}


                <fieldset class="blue-group-fieldset">
                    <legend><b>Umowa</b></legend>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.data_umowy.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!--<input type="date" value="{{umowa_form.data_umowy|date:'Y-m-d'}}" required="true">-->
                                    {{umowa_form.data_umowy}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.nr_umowy.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.nr_umowy}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.podstawa_prawna.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.podstawa_prawna}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.typ_umowy.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.typ_umowy}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.stan_umowy.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.stan_umowy}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Powierzchnia użyczona [m<sup>2</sup>]:</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.pow_uzyczona}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.nazwa_uzyczajacego.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.nazwa_uzyczajacego}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.adres_uzyczajacego.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.adres_uzyczajacego}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.kod_pocztowy_uzyczajacego.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.kod_pocztowy_uzyczajacego}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.miasto_uzyczajacego.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.miasto_uzyczajacego}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>{{umowa_form.okres_obowiazywania.label}}</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{umowa_form.okres_obowiazywania}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <!--<div><label>Data umowy:</label><input type="date" value="{{umowa_form.data_umowy}}"></div>-->
                    <!--<label>Nr umowy:</label>{{umowa_form.nr_umowy}}-->
                    <!--<label>Podstawa prawna:</label>{{umowa_form.podstawa_prawna}}-->
                    <!--<label>Typ umowy:</label>{{umowa_form.typ_umowy}}-->
                    <!--<label>Stan umowy:</label>{{umowa_form.stan_umowy}}-->
                    <!--<label>Powierzchnia użyczona [m<sup>2</sup>]:</label>-->
                    <!--<input type="number" placeholder="wpisz powierzchnie" value="{{umowa_form.pow_uzyczona}}"></p>-->
                    <!--<label>Nazwa:</label>{{umowa_form.nazwa_uzyczajacego}}-->
                    <!--<label>Adres:</label>{{umowa_form.adres_uzyczajacego}}-->
                    <!--<label>Kod pocztowy:</label>{{umowa_form.kod_pocztowy_uzyczajacego}}-->
                    <!--<label>Miasto:</label>{{umowa_form.miasto_uzyczajacego}}-->
                    <!--<label>Okres obowiąztwania:</label>{{umowa_form.okres_obowiazywania}}-->
                    <!--<label>Skan umowy:</label>{{umowa_form.skan_umowy}}-->
                </fieldset>

                <fieldset>
                    <legend><b>Informacje o mediach:</b></legend>
                    <span>Prąd: <input type="checkbox" value="{{umowa_form.rodzaj_kosztow_prad}}"></span>
                    {{umowa_form.informacje_prad}}
                    {{umowa_form.rodzaj_kosztow_gaz}}
                    {{umowa_form.informacje_gaz}}
                    {{umowa_form.rodzaj_kosztow_woda}}
                    {{umowa_form.informacje_woda}}
                    {{umowa_form.rodzaj_kosztow_co}}
                    {{umowa_form.informacje_co}}
                </fieldset>

                <fieldset>
                    <legend><b>Jednostka Policji</b></legend>
                    {{umowa_form.powiaty_jedn}}
                    {{umowa_form.rodzaj_jedn}}

                    {{umowa_form.adres_jedn}}
                    {{umowa_form.miasto_jedn}}
                    {{umowa_form.kod_pocztowy_jedn}}
                </fieldset>

            <label>Uwagi: </label>
            {{umowa_form.uwagi}}

            <!--            {{umowa_form|bootstrap}}-->
            {% if nowy %}
            <button type="submit" class="button-general">Dodaj umowę</button>
            {% else %}
            <button type="submit" class="button-general">Edytuj umowę</button>
            {% endif %}
        </form>
    </div>
    <a href="{% url 'wszystkie_umowy'%}">
        <button class="button-general">Cofnij</button>
    </a>
</div>
{%endblock%}