{%extends 'start.html'%}
{%load bootstrap%}
{%block tytul%} Dodawanie nowej umowy {%endblock%}

{%block strona%}
{%if nowy%}
<h2 class="naglowki_form">Dodawanie nowej umowy</h2>
{%else%}
<h2 class="naglowki_form"> Edytowanie umowy</h2>
{%endif%}
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <fieldset class="podglad_umow">
        <legend><b>Umowa:</b></legend>
        <div class="formularz">
            <label>Data umowy: </label>{{umowa_form.data_umowy}}
            <label>Nr umowy: </label>{{umowa_form.nr_umowy}}
            <label>Podstawa prawna:</label> {{umowa_form.podstawa_prawna}}
            <label>Typ umowy:</label> {{umowa_form.typ_umowy}}
            <label>Stan umowy:</label> {{umowa_form.stan_umowy}}
            <label>Powierzchnia użyczona [m<sup>2</sup>]:</label> <label><input type="number" step="any" name="pow_uzyczona"
                                                                         placeholder="wpisz powierzchnie"
                                                                         value={{umowa_form.pow_uzyczona.value}}></label>
        </div>
        <div class="formularz">
            <label>Nazwa użyczającego:</label> {{umowa_form.nazwa_uzyczajacego}}
            <label>Adres:</label> {{umowa_form.adres_uzyczajacego}}
            <label>Kod pocztowy:</label> {{umowa_form.kod_pocztowy_uzyczajacego}}
            <label>Miasto:</label> {{umowa_form.miasto_uzyczajacego}}
            <label>Okres obowiązywania:</label> {{umowa_form.okres_obowiazywania}}

        </div>
        <div class="formularz">
            <label>Skan umowy:</label> {{umowa_form.skan_umowy}}
            {%if nowy == False%}
            <label>Data aneksu: </label>{{aneks_form.data_aneksu}}
            <label>Skan aneksu:</label> {{aneks_form.skan_aneksu}}
            {%endif%}
        </div>

    </fieldset>

    <fieldset class="podglad_umow">
        <legend><b>Informacje o mediach:</b></legend>
        <div class="formularz_media">
            <label>{{umowa_form.rodzaj_kosztow_prad}}: {{umowa_form.rodzaj_kosztow_prad.label}}<br>
                <textarea class="media-form" placeholder="Wpisz informacje o mediach" name="informacje_prad" rows="10"
                          cols="35">{{umowa_form.informacje_prad.value}}</textarea></label>
        </div>
        <div class="formularz_media">
            <label>{{umowa_form.rodzaj_kosztow_gaz}}: {{umowa_form.rodzaj_kosztow_gaz.label}}<br>
                <textarea class="media-form" placeholder="Wpisz informacje o mediach" name="informacje_gaz" rows="10"
                          cols="35">{{umowa_form.informacje_gaz.value}}</textarea></label>
        </div>
        <div class="formularz_media">
            <label>{{umowa_form.rodzaj_kosztow_woda}}: {{umowa_form.rodzaj_kosztow_woda.label}}<br>
                <textarea class="media-form" placeholder="Wpisz informacje o mediach" name="informacje_woda" rows="10"
                          cols="35">{{umowa_form.informacje_woda.value}}</textarea></label>
        </div>
        <div class="formularz_media">
            <label>{{umowa_form.rodzaj_kosztow_co}}: {{umowa_form.rodzaj_kosztow_co.label}}<br>
                <textarea class="media-form" placeholder="Wpisz informacje o mediach" name="informacje_co" rows="10"
                          cols="35">{{umowa_form.informacje_co.value}}</textarea></label>
        </div>
    </fieldset>

    <fieldset class="formularz">
        <legend><b>Jednostka Policji:</b></legend>
        <label class="adres_jednostki">Powiat: <br> {{umowa_form.powiaty_jedn}}</label>
        <label>Rodzaj jednostki:<br> {{umowa_form.rodzaj_jedn}}</label>
        <label>Adres:<br> {{umowa_form.adres_jedn}}</label>
        <label>Kod Pocztowy:<br> {{umowa_form.kod_pocztowy_jedn}}</label>
        <label>Miasto:<br> {{umowa_form.miasto_jedn}}</label>

    </fieldset>
    <div>
        <label>{{umowa_form.uwagi.label}}: <br>
            <textarea class="uwagi" placeholder="Wpisz niezbędne informacje"
                      name="uwagi">{{umowa_form.uwagi.value}}</textarea></label>
    </div>
    {% if nowy %}
    <div>
        <button type="submit" class="button-general">Dodaj umowę</button>
    </div>
    {% else %}
    <div>
        <button type="submit" class="button-general">Edytuj umowę</button>

    </div>
    {% endif %}

</form>
<div>
    <a href="{% url 'wszystkie_umowy'%}">
        <button class="button-general">Cofnij</button>
    </a>
</div>
{%endblock%}